header.header {
  height: 870px;
}
header.header h2.slogan {
  font-size: 40px;
}
header.header p.banner-text {
  font-size: 24px;
}
header.header a.btnLink:hover {
  background-color: rgba(255, 255, 255, 0.3019607843);
}

main.info-perfume ul.info-items li.info-list .info-cover {
  height: 555px;
}
main.info-perfume ul.info-items li.info-list .info-cover img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 555px;
}
main.info-perfume ul.info-items li.info-list .info-context ol.maintenance h3 {
  font-weight: 600;
}
main.info-perfume ul.info-items li.info-list:nth-child(1) img {
  -o-object-position: top center;
     object-position: top center;
}
main.info-perfume ul.info-items li.info-list:nth-child(3) img {
  -o-object-position: center left;
     object-position: center left;
}
main.info-perfume ul.info-items li.info-list:nth-child(4) .info-context ol li {
  margin-bottom: 52px;
}
main.info-perfume ul.info-items li.info-list:nth-child(4) .info-context a.btnLink:hover {
  background-color: rgba(0, 0, 0, 0.0509803922);
}
main.info-perfume ul.info-items li.info-list:nth-child(4) .info-cover {
  height: 1080px;
}
main.info-perfume ul.info-items li.info-list:nth-child(4) .info-cover img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 1080px;
}

section.Adds {
  background-color: #E0E0E0;
}
section.Adds ul.Adds-items li.Adds-list .onSale,
section.Adds ul.Adds-items li.Adds-list .soldOut {
  height: 540px;
  position: relative;
}
section.Adds ul.Adds-items li.Adds-list .soldOut::before {
  background: rgba(0, 0, 0, 0.3);
  font-size: 24px;
  color: #fff;
  content: "Sold out";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.Adds ul.Adds-items li.Adds-list h3.Adds-title {
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  header.header {
    height: 480px;
    margin-bottom: 40px;
  }
  header.header h2.slogan {
    font-size: 32px;
  }
  header.header p.banner-text {
    font-size: 20px;
  }
  main.info-perfume {
    margin-bottom: 40px;
  }
  main.info-perfume ul.info-items li.info-list {
    margin-bottom: 32px;
  }
  main.info-perfume ul.info-items li.info-list .info-cover {
    height: 350px;
    margin-bottom: 8px;
  }
  main.info-perfume ul.info-items li.info-list .info-cover img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 350px;
  }
  main.info-perfume ul.info-items li.info-list .info-context p {
    margin-bottom: 8px;
  }
  main.info-perfume ul.info-items li.info-list:nth-child(1) img {
    -o-object-position: top center;
       object-position: top center;
  }
  main.info-perfume ul.info-items li.info-list:nth-child(3) img {
    -o-object-position: center left;
       object-position: center left;
  }
  main.info-perfume ul.info-items li.info-list:nth-child(4) .info-context ol li {
    margin-bottom: 20px;
  }
  main.info-perfume ul.info-items li.info-list:nth-child(4) .info-cover {
    height: 680px;
  }
  main.info-perfume ul.info-items li.info-list:nth-child(4) .info-cover img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 680px;
  }
  section.Adds {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 40px;
  }
  section.Adds ul.Adds-items li.Adds-list {
    margin-bottom: 24px;
  }
  section.Adds ul.Adds-items li.Adds-list .onSale,
  section.Adds ul.Adds-items li.Adds-list .soldOut {
    height: 350px;
    position: relative;
  }
  section.Adds ul.Adds-items li.Adds-list p.Adds-brand {
    margin-bottom: 0;
  }
  section.Adds ul.Adds-items li.Adds-list:nth-child(3) {
    margin-bottom: 0;
  }
  section.eco-friendly {
    margin-bottom: 40px;
  }
  section.eco-friendly .eco-img {
    margin-bottom: 8px;
  }
  section.eco-friendly .eco-article h3 {
    margin-bottom: 0;
  }
  section.eco-friendly .eco-article h4.subtitle,
  section.eco-friendly .eco-article p {
    margin-bottom: 8px;
  }
}/*# sourceMappingURL=index_page.css.map */