<nav class="bg-primary">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link link-light" href="#">CHANEL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light active" aria-current="page" href="#">Jo Nalone</a>
              </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="#">Curology</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="#">Dior</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="#">Dior</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="#">ZARA</a>
            </li>
          </ul>
        
        

    </div>
  </nav>